<div class="search-filters">
  <div class="search-filters__head d-flex">
    <div class="search-filters-container d-flex align-items-center">
      <div class="search-filters__title">
        <h3>Filters</h3>
        <p><button class="btn btn-link" (click)="reset()">Reset Filters</button></p>
      </div>
      <button class="btn btn-icon" (click)="hide.emit()">
        <app-icon icon="cross"></app-icon>
      </button>
    </div>
  </div>

  <div class="search-filters__body">
    <div class="search-filters-container">
      <div class="search-main">
        <div class="row">
          <div class="col-2">
            <div class="search-main__label">
              <span>Price</span>
            </div>
          </div>
          <div class="col-5">
            <ng-select
              [(ngModel)]="filterByPriceMin"
              [items]="filterByPrice.min"
              bindLabel="formmated"
              bindValue="value"
              (ngModelChange)="onChangeFilterByPrice(filterByPriceMin, filterByPriceMax, true)"
            >
            </ng-select>
          </div>
          <div class="col-5">
            <ng-select
              [(ngModel)]="filterByPriceMax"
              [items]="filterByPrice.max"
              bindLabel="formmated"
              bindValue="value"
              (change)="onChangeFilterByPrice(filterByPriceMin, filterByPriceMax, true)"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="search-main">
        <div class="row">
          <div class="col-2">
            <div class="search-main__label">
              <span>Beds</span>
            </div>
          </div>
          <div class="col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
            <ng-select
              [(ngModel)]="filterByBedsMin"
              [items]="bedsNumMin"
              bindLabel="label"
              bindValue="value"
              (ngModelChange)="onChangeFilterByBeds(filterByBedsMin, filterByBedsMax)"
            >
            </ng-select>
          </div>
          <div class="col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
            <ng-select
              [(ngModel)]="filterByBedsMax"
              [items]="bedsNumMax"
              bindLabel="label"
              bindValue="value"
              (change)="onChangeFilterByBeds(filterByBedsMin, filterByBedsMax)"
            >
            </ng-select>
          </div>
          <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block col-2">
            <div class="search-main__label baths">
              <span>Baths</span>
            </div>
          </div>
          <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
            <ng-select
              [(ngModel)]="filterByBathsMin"
              [items]="bathsNumMin"
              bindLabel="label"
              bindValue="value"
              (ngModelChange)="onChangeFilterByBaths(filterByBathsMin, filterByBathsMax)"
            >
            </ng-select>
          </div>
          <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2">
            <ng-select
              [(ngModel)]="filterByBathsMax"
              [items]="bathsNumMax"
              bindLabel="label"
              bindValue="value"
              (change)="onChangeFilterByBaths(filterByBathsMin, filterByBathsMax)"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="search-main d-block d-sm-block d-md-none d-lg-none d-xl-none">
        <div class="row">
          <div class="col-2">
            <div class="search-main__label baths">
              <span>Baths</span>
            </div>
          </div>
          <div class="col-5">
            <ng-select
              [(ngModel)]="filterByBathsMin"
              [items]="bathsNumMin"
              bindLabel="label"
              bindValue="value"
              (ngModelChange)="onChangeFilterByBaths(filterByPriceMin, filterByPriceMax)"
            >
            </ng-select>
          </div>
          <div class="col-5">
            <ng-select
              [(ngModel)]="filterByBathsMax"
              [items]="bathsNumMax"
              bindLabel="label"
              bindValue="value"
              (change)="onChangeFilterByBaths(filterByPriceMin, filterByPriceMax)"
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="search-buttons">
        <div class="search-buttons__label">Listing Status</div>
        <div class="row">
          <div class="col-6">
            <button
              [ngClass]="{ 'button-active': filters.buttonFilters.sales === true }"
              (click)="updateSalesRentals('sales')"
              class="btn btn-primary w-100"
            >
              Sales
            </button>
          </div>
          <div class="col-6">
            <button
              class="btn btn-primary w-100"
              (click)="updateSalesRentals('rental')"
              [ngClass]="{ 'button-active': filters.buttonFilters.rental === true }"
            >
              Rental
            </button>
          </div>
        </div>
      </div>
      <div class="search-buttons">
        <div class="search-buttons__label">Property Type</div>
        <div class="row">
          <div class="col-lg-2 col-6">
            <button
              [ngClass]="{ 'button-active': filters.buttonFilters.condo === true }"
              (click)="updateProperty('condo')"
              class="btn btn-primary w-100"
            >
              Condo
            </button>
          </div>
          <div class="col-lg-2 col-6">
            <button
              [ngClass]="{ 'button-active': filters.buttonFilters.coop === true }"
              (click)="updateProperty('coop')"
              class="btn btn-primary w-100"
            >
              Co-op
            </button>
          </div>
          <div class="col-lg-2 col-6">
            <button
              [ngClass]="{ 'button-active': filters.buttonFilters.condop === true }"
              (click)="updateProperty('condop')"
              class="btn btn-primary w-100"
            >
              Condop
            </button>
          </div>
          <div class="col-lg-2 col-6">
            <button
              [ngClass]="{ 'button-active': filters.buttonFilters.single === true }"
              (click)="updateProperty('single')"
              class="btn btn-primary w-100"
            >
              Single-Family
            </button>
          </div>
          <div class="col-lg-2 col-6">
            <button
              [ngClass]="{ 'button-active': filters.buttonFilters.multi === true }"
              (click)="updateProperty('multi')"
              class="btn btn-primary w-100"
            >
              Multi-Family
            </button>
          </div>
          <div class="col-lg-2 col-6">
            <button
              [ngClass]="{ 'button-active': filters.buttonFilters.commercial === true }"
              (click)="updateProperty('commercial')"
              class="btn btn-primary w-100"
            >
              Commercial
            </button>
          </div>
        </div>
      </div>
      <div class="search-filters__filters">
        <div class="search-filter-item d-flex align-items-center" *ngFor="let filter of filters.propertyFilters">
          <div class="search-filter-item__label">
            {{ filter.name }}
            <sup>{{ filter.sup }}</sup>
          </div>
          <div class="search-filter-item__filter">
            <div class="d-flex flex-justify-between">
              <input
                type="number"
                (ngModelChange)="onChangePropertyFilter(filters.propertyFilters)"
                [(ngModel)]="filter.min"
                class="form-control"
                placeholder="No Minimum"
                [step]="filter.step"
              />
              &nbsp;&nbsp;&nbsp;
              <input
                type="number"
                (ngModelChange)="onChangePropertyFilter(filters.propertyFilters)"
                [(ngModel)]="filter.max"
                class="form-control"
                placeholder="No Maximum"
                [step]="filter.step"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="search-filters__services">
        <div class="row">
          <div class="col-lg-6 col-sm-12" *ngFor="let service of filters.propertyServices; let i = index">
            <div class="search-filter-service d-flex align-items-center">
              <app-icon icon="filter-icon-{{ i + 1 }}"></app-icon>
              <span>{{ service.name }}</span>
              <div class="search-filter-service__switcher d-flex align-items-center">
                <label [ngClass]="{ checked: service.value === true }">
                  <input
                    type="radio"
                    name="{{ service.property }}"
                    [(ngModel)]="service.value"
                    [value]="true"
                    (click)="removeChecked(i, true)"
                    (ngModelChange)="onChangePropertyService(filters.propertyServices)"
                  />
                  <img src="./assets/img/tick.png" alt="" />
                </label>
                <label [ngClass]="{ checked: service.value === false }">
                  <input
                    type="radio"
                    name="{{ service.property }}"
                    [(ngModel)]="service.value"
                    [value]="false"
                    (click)="removeChecked(i, false)"
                    (ngModelChange)="onChangePropertyService(filters.propertyServices)"
                  />
                  <app-icon icon="cross"></app-icon>
                </label>
                <!-- <button id="true_{{i+1}}">
                  <img src="./assets/img/tick.png" alt="" />
                </button>
                &nbsp;&nbsp;
                <button id="false_{{i+1}}">
                  <app-icon icon="cross"></app-icon>
                </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
