@import "../../../../theme/theme-variables";

:host {
  position: fixed;
  height: 100%;
  top: 0;
  background: $white;
  display: block;
  width: 50%;
  z-index: 11;
  overflow-y: scroll;
  right: -3000px;
  transition: all 0.2s ease-in-out;
}

:host(.display-filters) {
  right: 0;
}

@media (max-width: 800px) {
  :host {
    width: 100%;
  }
}

.search-filter-item {
  &__label {
    width: 23%;
  }
}

.search-filters {
  &__filters {
    margin-bottom: 60px;
  }

  &__head {
    padding-top: 26px;
    padding-bottom: 15px;
    border-bottom: 1px solid #b3b3b3;

    .d-flex {
      justify-content: space-between;
      width: 100%;
    }

    h3 {
      margin-bottom: 2px;
    }

    .btn-link {
      color: $black;
      font-size: 0.75em;

      &:hover,
      &:focus {
        text-decoration: none;
        background: transparent;
      }
    }

    p {
      padding: 0;
      margin: 0;
    }
  }
}

.search-filters-container {
  padding: 0 27px;
}

.search-filter-item {
  justify-content: space-between;
  padding: 23px 0;
  border-bottom: 1px solid rgba(179, 179, 179, 0.5);

  &__label {
    font-size: 0.875em;
    color: $app-black;
  }

  .form-control {
    max-width: 140px;
    margin: auto;
    text-align: center;
    font-size: 0.625em;
    height: 37px;
  }
}

.search-filter-service {
  font-size: 0.875em;
  padding: 13px 0 26px 0;
  border-bottom: 1px solid rgba(179, 179, 179, 0.5);
  margin-bottom: 35px;
  justify-content: space-between;

  app-icon {
    display: block;
    width: 40px;
    font-size: 19px;
    color: rgba(7, 3, 8, 0.3);
  }

  span {
    width: 123px;
  }

  &__switcher {
    label {
      background: transparent;
      border-radius: 3px;
      display: block;
      width: 30px;
      height: 30px;
      padding: 0;
      border: 1px solid #b3b3b3;
      cursor: pointer;
      margin-right: 5px;

      img {
        width: 15px;
        height: auto;
        margin-top: 4px;
        margin-left: 6px;
      }

      app-icon {
        width: auto;
        font-size: 11px;
        margin-top: 7px;
        margin-left: 6px;
      }

      [type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
    }

    .checked {
      border-color: black;
    }
  }
}

.search-buttons {
  &__label {
    font-size: 0.875em;
    color: $app-black;
  }

  button {
    height: 40px;
    margin: 10px 10px 10px 10px;
    font-size: 0.875em;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    padding: 0;
  }

  .button-active {
    color: #fff !important;
    background-color: $black !important;
    border-color: $black !important;
  }

  .btn-primary.disabled,
  .btn-primary:disabled {
    color: #fff;
    background-color: rgba(27, 24, 28, 0.3);
    border-color: $black;
  }

  .btn-primary {
    color: $black;
    background-color: transparent;
    border-color: $black;
    border: 1px solid;
    border-radius: 3px;
  }

  .btn-primary:not(:disabled):not(.disabled):active:focus,
  .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2em $black !important;
  }

  .form-control:focus {
    box-shadow: 0 0 0 0.2em $black !important;
  }

  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: $black !important;
    border-color: $black !important;
  }
}

.search-main {
  margin-top: 2em;
  margin-bottom: 2em;

  .baths {
    text-align: center;
  }

  &__label {
    font-size: 0.875em;
    color: $app-black;
    padding-top: 5px;
  }

  ng-select {
    margin-left: 10px;
    width: 100%;
  }
}
