@import "../../../theme/theme-variables";
@import "bootstrap/scss/mixins";

.news-b {
  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }

  &__img {
    max-width: 100%;
    height: 180px;
    @media (min-width: 2000px) {
      height: 300px;
    }

    img {
      object-fit: cover;
      object-position: center center;
      height: 100%;
      width: 100%;
    }

    padding-bottom: 14px;
  }

  &__title {
    a {
      text-transform: uppercase;
      color: $app-black;
    }
  }

  &__description {
    font-size: 0.9375em;
    line-height: 28px;
    letter-spacing: 0.07em;
    padding-bottom: 10px;
  }
}
