@import "../../../theme/theme-variables";

.building-card {
  display: flex;
  flex: 0.94;
  width: 100%;
  cursor: pointer;
  position: relative;

  &__body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    padding: 22px 10px;
    color: $white;
  }

  &__name {
    font-size: 1em;
    padding-bottom: 5px;
  }

  &__address {
    font-size: 0.725em;
    padding-right: 60px;
  }

  &__image {
    z-index: 0;
    height: 200px;
    position: relative;
    width: 100%;

    &:before {
      content: "";
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      width: 100%;
      height: 100%;
      //background: linear-gradient(360deg, #000000 -1.99%, rgba(17, 17, 17, 0) 56.44%, rgba(255, 255, 255, 0) 100%);
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      width: 100%;
    }
  }
}
