.apartament {
  .content {
    width: 100%;
    position: relative;

    &--img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }

    &__info {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #ffffff;
      padding: 12px;
      display: flex;
      justify-content: space-between;
      background: linear-gradient(0deg, rgba(7, 3, 8, 0.9), transparent 90%) no-repeat;

      &__left {
        flex: 1;

        h6 {
          font-weight: 600;
          font-size: 1.1em;
          margin-bottom: 10px;
        }

        .text-margin {
          margin: 0 0 7px 0 !important;
        }

        p {
          font-size: 0.9em;
          margin: 0;
        }
      }

      &__right {
        flex: 1;
        display: flex;
        align-items: flex-end;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 0.7em;
          height: auto;
          flex: 1;
          border-left: 1px solid #ffffff;
        }

        div:first-child {
          border-left: 0;
        }
      }
    }
  }

  &--buttons {
    display: flex;
    justify-content: space-between;

    div {
      flex: 1;
      font-size: 0.85em;
      text-align: center;
      padding: 8px 0;
      border: 1px solid #d9d9d9;
      cursor: pointer;
    }
  }
}
