@import "../../../theme/theme-variables";
@import "bootstrap/scss/mixins";

.map {
  &__container {
    height: 400px;

    agm-map {
      height: 100%;
    }
  }

  &__places {
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #d9d9d9;
  }

  &__places-item {
    padding: 25px 20px;
    border-bottom: 1px solid #d9d9d9;

    &:last-child {
      border: none;
    }

    &__name {
      font-size: 1.45em;
      line-height: 1.375em;
      padding: 0 0 8px;
      margin: 0;
    }

    &__address {
      padding: 0;
      font-size: 0.75em;
      line-height: 0.875em;
      text-transform: uppercase;
      margin: 0;
    }

    &__line {
      padding: 0;
      font-size: 0.75em;
      line-height: 0.875em;
      text-transform: uppercase;
      margin: 0;
    }

    &__info {
      padding: 0;
      font-size: 0.75em;
      line-height: 0.875em;
      margin: 0;
    }

    &__notes {
      padding: 0;
      font-size: 0.75em;
      line-height: 0.875em;
      margin: 0;
    }

    &__rght {
      border: 1px solid #eaeaea;
      width: 85px;
      text-align: center;
      font-size: 0.875em;
      padding: 8px 4px;
    }
  }

  &__marker-window {
    max-width: 320px;
  }
}

@media #{$mq-xxlarge} {
  .map {
    &__container {
      height: 700px;
    }
  }
}

.about-section {
  padding: 60px 0;

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .team-name {
    margin: 15px 0 15px 0;
  }

  .team-description {
    padding: 10px 0 10px 0;
  }

  a {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: rgba(27, 24, 28, 0.3);
  border-color: $black;
}

.btn-primary {
  color: #fff;
  background-color: $black;
  border-color: $black;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2em $blackRgb3 !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $black;
  border-color: $black;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2em $blackRgb3 !important;
  border-color: rgba(27, 24, 28, 0.3);
}
