<section>
  <div class="container full-h">
    <div class="row">
      <div class="col-12">
        <div class="banner-outer">
          <img src="../../../assets/img/home-img-2.png" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="residental-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 d-block">
        <h2>Residental</h2>
        <div class="residental-section-b">
          <p>
            Conquest specializes in luxury residential transactions 5M+. Our firm is a member of the Real Estate Board
            of New York providing access and distribution to the largest Multiple Listing Service.<br />
          </p>
          <p>
            Buyers: Screening the entire NYC Market, identifying targeted properties, organizing viewings of selected
            properties, and touring them in one of our chauffeured cars. We then provide in depth analytical information
            using comparative data. Through our technology driven approach we have the unique ability to uncover shadow
            inventory in new developments that may be unlisted.<br />
          </p>
          <p>
            Sellers: Pricing your real estate based on market trends and in-depth analysis, staging, photographing, and
            submitting your listing in New York City’s largest Multiple Listing Services accessed by all of NYC’s
            brokerage firms. We then devise and execute a marketing plan using the largest listing portals covering New
            York City and our extensive international syndication network. We then provide coordination and showings
            with other brokers and in-depth feedback and reporting as well as advice on price adjustments.
            <br />
          </p>
          <p>
            Our firm conducts due diligence on prospective sellers or buyers and concludes transactions with strong
            negotiation with favorable outcomes for our clients.<br />
          </p>

          <p>
            During the term of our client’s ownership, we have handled a wide variety of tasks including property
            management, leasing, full renovation, and advice on re-financing. <br />
          </p>
          <p>
            We have advised a variety of transaction types including townhouses, condos, co-ops and entire buildings
            sales.<br />
          </p>
          <a class="btn btn-outline" [routerLink]="'/contact'">Work with us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
