<div class="property-item">
  <div class="property-item__slider">
    <swiper-container [loop]="true">
      <swiper-slide>
        <img data-src="{{ item.image_list[0] }}" alt="" uiImageLoader [onErrorSrc]="defaultImg" />
      </swiper-slide>
      <swiper-slide>
        <img data-src="{{ item.image_list[1] }}" alt="" uiImageLoader [onErrorSrc]="defaultImg" />
      </swiper-slide>
    </swiper-container>
  </div>
  <div class="property-item__content">
    <div class="property-item__top">
      <button class="btn btn-icon" [class.saved]="item.saved_data" (click)="saveApartment($event)">
        <app-icon icon="heart"></app-icon>
      </button>
      <!-- <div class="property-item__building_name">{{ item.building_name }}</div> -->
    </div>
    <div class="property-item__bottom">
      <div class="property-item__price">${{ util.convertToLocaleString(item.listing_price) }}</div>
      <div class="property-item__facts d-flex align-items-center">
        <div class="property-item__address">
          <!-- {{ item.building_name }} <br /> -->
          {{ item.address_with_unit }} <br />
          {{ item.place_name }} {{ item.region ? ', ' + item.region : '' }}
        </div>
        <ul class="property-item__nums">
          <li>
            <strong>{{ item.num_bedrooms }}</strong>
            <span>Beds</span>
          </li>
          <li *ngIf="item.num_baths">
            <strong>{{ item.num_baths }}</strong>
            <span>Baths</span>
          </li>
          <li *ngIf="item.sqft">
            <strong>{{ item.sqft }}</strong>
            <span>q.Ft.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
