@import "../../../theme/theme-variables";

.property-item {
  width: 100%;
  height: 162px;
  position: relative;

  &__content {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    background: linear-gradient(0deg, rgba(7, 3, 8, 0.7), transparent 90%) no-repeat;
  }

  .btn-icon {
    background: rgba(7, 3, 8, 0.3);
    border: 1px solid $white;
    color: $white;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 12px;

    // &:focus {
    //   background: rgba(7, 3, 8, 1);
    //   color: $white;
    //   border-color: $black;
    // }
  }

  .saved {
    background: rgba(7, 3, 8, 1);
    color: $white;
    border-color: $black;
  }

  &__img {
    height: 100%;
    width: 100% !important;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
    }
  }

  &__slider {
    height: 100%;
  }

  &__bottom {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 8px;
  }

  &__top {
    .btn-icon {
      position: absolute;
      top: 13px;
      left: 8px;
    }
  }

  &__building_name {
    position: absolute;
    top: 15px;
    right: 5px;
    color: white;
  }

  &__price {
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    color: $white;
    line-height: 24px;
    margin-bottom: 4px;
  }

  &__facts {
    color: $white;
    display: flex;
    justify-content: space-between;
  }

  &__address {
    font-size: 0.9em;
    padding-top: 4px;
  }

  &__nums {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    li {
      width: 36px;
      position: relative;
      list-style: none;
      font-size: 0.7em;

      &:first-child {
        &:after {
          display: none;
        }
      }

      &:after {
        position: absolute;
        background: $white;
        top: 6px;
        content: "";
        display: block;
        width: 1px;
        height: 16px;
        left: 0;
      }

      strong {
        display: block;
      }
    }
  }
}

@media (max-width: 576px) {
  .property-item {
    height: 200px;
  }
}

@media #{$mq-xxlarge} {
  .property-item {
    height: 300px;
  }
}

@media #{$mq-retina} {
  .property-item {
    height: 200px;
  }
}
