@import "../../../theme/theme-variables";
@import "bootstrap/scss/mixins";

.about-section-b {
  h2 {
    margin-bottom: 40px;
    font-size: 3em;

    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
      font-size: 1.5em;
    }
  }

  .phones-list {
    list-style-type: circle;
  }
}

.about-section {
  padding: 60px 0;

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }

  .img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
