@import "../../../theme/theme-variables";
@import "bootstrap/scss/mixins";

.search-bar {
  padding-top: 70px;
  padding-bottom: 18px;

  .dropdown-toggle::after {
    display: none;
  }

  @include media-breakpoint-down(md) {
    padding-top: 10px;
  }

  &__filters {
    .price-filter {
      padding-left: 10px;
      width: 10em;

      .ng-select-container {
        height: 50px;
      }
    }

    > button {
      text-align: center;
      width: 90px;
      background: transparent;
      border: none;
      padding: 0;
      color: $app-black;
      font-size: 0.75em;

      &:focus {
        outline: none;
        color: #b3b3b3;

        .icon-wrap {
          img {
            fill: $app-black;
          }
        }
      }

      p {
        margin: 0;
        padding: 0;
      }

      app-icon,
      .icon-wrap {
        font-size: 24px;
        display: block;
        height: 37px;
      }
    }

    .dropdown-filter {
      position: absolute;
      top: 60px;
      background-color: white;
    }

    .beds {
      left: 80px;
    }

    .baths {
      left: 160px;
    }
  }

  input[type="range"] {
    width: 100%;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
  }

  input[type="range"],
  input[type="range"]::-webkit-slider-runnable-track,
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #b3b3b3;
  }

  input[type="range"]:nth-child(2)::-webkit-slider-runnable-track {
    background: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid rgb(27, 24, 28);
    border-radius: 25px;
    z-index: 1;
  }

  input[type="range"]:nth-child(1)::-webkit-slider-thumb {
    z-index: 2;
  }

  .rangeslider {
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
  }

  .rangeslider input {
    position: absolute;
  }

  // .rangeslider {
  //   // position: absolute;
  // }

  .rangeslider span {
    position: absolute;
    margin-top: 30px;
    left: 0;
  }

  .rangeslider .right {
    position: relative;
    float: right;
    margin-right: -5px;
  }

  /* Proof of concept for Firefox */
  @-moz-document url-prefix() {
    .rangeslider::before {
      content: "";
      width: 100%;
      height: 2px;
      background: #003d7c;
      display: block;
      position: relative;
      top: 16px;
    }

    input[type="range"]:nth-child(1) {
      position: absolute;
      top: 35px !important;
      overflow: visible !important;
      height: 0;
    }

    input[type="range"]:nth-child(2) {
      position: absolute;
      top: 35px !important;
      overflow: visible !important;
      height: 0;
    }

    input[type="range"]::-moz-range-thumb {
      position: relative;
      height: 15px;
      width: 15px;
      margin-top: -7px;
      background: #fff;
      border: 1px solid #003d7c;
      border-radius: 25px;
      z-index: 1;
    }

    input[type="range"]:nth-child(1)::-moz-range-thumb {
      transform: translateY(-20px);
    }

    input[type="range"]:nth-child(2)::-moz-range-thumb {
      transform: translateY(-20px);
    }
  }

  .collapsable-filter-price {
    position: absolute;
  }
}

.sort-btn {
  padding: 0;
  margin: 0;

  &:focus,
  &:hover {
    outline: none;
    background: transparent;
    color: $app-black;
  }
}

.search-map-container {
  height: 600px;

  agm-map {
    height: 100%;
  }
}

.result-section {
  height: calc(100% - 320px);
}

@media #{$mq-xxlarge} {
  .result-section {
    height: 1100px;
  }

  .search-map-container {
    height: 1100px;

    agm-map {
      height: 100%;
    }
  }
  .col-xxl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.search-form {
  font-size: 0.875em;
  height: 50px;
  border: 1px solid rgba(179, 179, 179, 0.5);
  padding-left: 58px;
  padding-right: 40px;
  border-radius: 5px;
}

.search-form-wrap {
  position: relative;

  button {
    position: absolute;
    right: 18px;
    top: 0;
    margin-top: 0;
    height: 104%;
    font-size: 17px;
    color: #b3b3b3;
  }

  app-icon[icon="quick-search"] {
    position: absolute;
    left: 18px;
    top: 50%;
    margin-top: -12px;
    font-size: 17px;
    color: #b3b3b3;
    z-index: 1;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}

.si-content-wrapper {
  padding: 0;
}
