<section>
  <div class="container full-h">
    <div class="row">
      <div class="col-12">
        <div class="banner-outer">
          <img src="../../../assets/img/home-img-2.png" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="commercial-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 d-block">
        <h2>Commercial</h2>
        <div class="commercial-section-b">
          <p>
            Conquest works with investors to devise a bespoke strategy for real estate diversification within an
            investors balance sheet. Conquest first understands the needs of the client’s goal ranging from equity
            placement, deal size, leverage, desired risk, return thresholds and intended hold periods. We have advised
            and transacted on a variety of diversification and allocation strategies including:
            <br />
          </p>
          <ul>
            <li>Income Producing (Core and Core +)</li>
            <li>Development (Ground up and Value-add)</li>
            <li>Leasing</li>
          </ul>
          <p>
            Our firm conducts due diligence on prospective property purchases, underwrites property level returns,
            creates investment memorandums. During due diligence Conquest coordinates construction estimates, financing
            quotes, and negotiations. We have transacted across multiple types of asset classes including:
          </p>
          <ul>
            <li>Hotels</li>
            <li>Multifamily</li>
            <li>Office buildings</li>
            <li>Industrial</li>
          </ul>
          <p>
            Areas we focus on range from New York City to geographic areas in the United States that have been
            experiencing hyper-growth in their respective markets. These markets have included Phoenix Arizona, Denver
            Colorado, and Austin Texas. We have also worked extensively with investors looking to capitalize on the
            opportunity zones.
          </p>
          <a class="btn btn-outline" [routerLink]="'/contact'">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
