@import "../../../theme/theme-variables";

.agent-contact-b {
  background: #f0f0f0;
  border: 0.7px solid #d9d9d9;
  padding: 20px;
  border-radius: 5px;
  width: 277px;
  z-index: 2;

  &__stars {
    max-width: 76px;
    height: auto;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    margin-right: 12px;

    img {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 1em;

    span {
      color: $app-blue;
      font-size: 0.9em;
    }
  }

  &__top {
    margin-bottom: 20px;
  }

  &__item {
    position: relative;

    label {
      position: absolute;
      color: #b3b3b3;
      font-size: 0.875em;
      left: 9px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.1s ease-in-out;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      border: none;
      height: 35px;
      font-size: 0.875em;
      padding-left: 9px;
      resize: none;
      border-bottom: 1px solid #d9d9d9;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    textarea {
      height: 100px;
      padding-top: 20px;

      & + label {
        top: 7px;
      }
    }

    textarea:focus + label,
    textarea.filled + label {
      top: 6px;
      font-size: 0.5em;
    }
  }

  &__form {
    border-bottom: none;
    margin-bottom: 20px;

    form {
      border: 1px solid #d9d9d9;
    }
  }

  .successful-label {
    text-align: center;
  }
}

.agent-b {
  display: flex;
  align-items: center;
  justify-content: center;

  &__buttons {
    display: block;
    // position: fixed;
    // bottom: 0;
    // right: 0;
    // height: 700px;

    .btn {
      display: block;
      margin: 3px auto;
      font-size: 0.7em;

      app-icon {
        display: block;
        font-size: 1em;
        margin-bottom: 0;
      }

      & > span {
        font-size: 1.125em;
      }

      &:last-child {
        margin-bottom: 0;
      }

      & > i {
        font-size: 1.125em;
        display: block;
      }
    }
  }
}

.shared-container {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 999999;

  &__buttons {
    display: block;
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: rgba(27, 24, 28, 0.3);
  border-color: $black;
}

.btn-primary {
  color: #fff;
  background-color: $black;
  border-color: $black;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2em $blackRgb3 !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2em $blackRgb3 !important;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $blackRgb3 !important;
  border-color: $black !important;
}
