@import "../../../theme/theme-variables";

.close-button {
  position: absolute;
  right: 19px;
  top: 19px;

  background-size: 18px 30px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.3);

  &:hover,
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.6);
  }

  span {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
}

.slider-wrap {
  width: 100%;
  height: 90vh;

  .slider-container {
    height: 100%;

    .slider {
      .slider__slide {
        img {
          filter: grayscale(100%);
        }
      }

      .slider__slide.swiper-slide {
        position: relative;
        overflow: hidden;
        width: 100%;

        img {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          width: 100%;
          filter: grayscale(100%);
          transition: all 0.5s ease-in-out;
          height: 100%;
          object-fit: contain;
        }

        &.swiper-slide-active {
          img {
            filter: grayscale(0%);
          }
        }
      }
    }

    .slider__arrow {
      position: absolute;
      z-index: 11;
      width: 60px;
      height: 60px;
      background-color: rgba(0, 0, 0, 0.3);
      background-image: url("/assets/img/slider-chevron.png");
      background-size: 18px 30px;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid #fff;
      top: 50%;
      margin-top: -30px;

      &:hover,
      &:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.6);
      }

      &.slider__arrow-next {
        left: auto;
        right: 0;
      }

      &.slider__arrow-prev {
        transform: rotate(180deg);
      }
    }

    .slider__counter {
      position: absolute;
      bottom: 0;
      min-width: 109px;
      height: 49px;
      line-height: 49px;
      color: $white;
      background: rgba(0, 0, 0, 0.5);
      text-align: center;
      font-size: 1.25em;
    }

    .slider__container {
      width: 100%;
      z-index: 11;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}
