<section>
  <div class="container full-h">
    <div class="row">
      <div class="col-12">
        <div class="banner-outer">
          <img src="../../../assets/img/about-img.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 d-block">
        <h2>CONQUEST ADVISORS</h2>
        <div class="about-section-b">
          <p>
            Conquest Advisors LTD is a privately owned multi strategy real estate advisor providing its clientele with
            360 degree coverage ranging from transactions to generational investments. Its services primarily focus on
            advisory and private equity. Its clientele includes Family Offices, Developers, Owners, and Opportunity
            Funds.<br />
          </p>
          <p>
            The firm's advisory activities have spanned both commercial and residential transactions including new
            development, building conversions, hotel and office buildings, apartment purchases, and commercial
            leasing.<br />
          </p>
          <p>
            Private equity advisory engagements range from sourcing lower risk cash flowing opportunities on behalf of
            family offices to locating LP capital for sponsors on value-add investments. The firm's members have been
            associated with REBNY, CREFC and ULI. Conquest's deals have been featured in major news outlets including
            the Wall Street Journal, NY Times and the NY Post.<br />
          </p>
          <a class="btn btn-outline" [routerLink]="'/contact'">Work with us</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col col-md-6 x-type-col d-block">
        <img class="img-responsive" src="../../../assets/img/about2-img.jpg" />
      </div>
      <div class="col offset-md-1 col-md-4 x-type-col d-block mt-5">
        <h5>
          BROKERAGE
        </h5>
        <p>
          With a team of developers, financiers, and seasoned executives on staff, Conquest's brokerage group has
          extra-ordinary capabilities that stretch way beyond any conventional brokerage firm in existence. Conquest
          Advisors doesn't just broker, it sources and embraces opportunities.
          <br />
        </p>
        <p>
          Clients turn to Conquest's intellectual capital to analyze purchases, sales or leaseholds from a macro
          perspective. Capitalizing on its multifaceted infrastrcuture, Conquest extends many "off-market" deals to its
          clients that never hit the open public market. Additionally it provides access to the same listings that
          larger brokerage firms have.
          <br />
        </p>
        <p>
          Domestic and international icons utilize Conquest as a single source to conduct residential and commercial
          real estate transactions. Certain clients have the ability to co-invest into rewarding properties and
          developments usually only offered to institutions and hedge funds. We invite you to contact us if you want to
          learn more about how our team can make your real estate dreams a reality.
          <br />
          <br />
        </p>

        <h5>DEVELOPMENT</h5>
        <p>
          With over 30 years of experience, $850 million dollars in debt & equity transactions and re-development in
          excess of 170,000 square feet, our team is well-versed in the skills needed to succeed in the complex world of
          development, packing the experience and talent to operate and manage ambitious development projects.
          <br />
          <br />
        </p>

        <h5>PRIVATE EQUITY</h5>
        <p>
          Conquest’s Private Equity division serves as an investment banking vehicle to underwrite projects, offer
          development expertise and invest private equity. We offer co-investment opportunities to a select group of our
          client base including wealthy individuals, hedge funds and financial institutions.
          <br />
          <br />
        </p>
      </div>
    </div>
  </div>
</section> -->
<app-footer></app-footer>
