@import "../../../theme/theme-variables.scss";

.map {
  &__container {
    height: 400px;

    agm-map {
      height: 100%;
    }
  }

  &__places {
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #d9d9d9;
    margin-bottom: 10px;
  }

  &__places-item {
    padding: 25px 20px;
    border-bottom: 1px solid #d9d9d9;

    &:last-child {
      border: none;
    }

    &__name {
      font-size: 1.45em;
      line-height: 1.375em;
      padding: 0 0 8px;
      margin: 0;
    }

    &__address {
      padding: 0;
      font-size: 0.75em;
      line-height: 0.875em;
      text-transform: uppercase;
      margin: 0;
    }

    &__line {
      padding: 0;
      font-size: 0.75em;
      line-height: 0.875em;
      text-transform: uppercase;
      margin: 0;
    }

    &__info {
      padding: 0;
      font-size: 0.75em;
      line-height: 0.875em;
      margin: 0;
    }

    &__notes {
      padding: 0;
      font-size: 0.75em;
      line-height: 0.875em;
      margin: 0;
    }

    &__rght {
      border: 1px solid #eaeaea;
      width: 85px;
      text-align: center;
      font-size: 0.875em;
      padding: 8px 4px;
    }
  }

  &__marker-window {
    max-width: 320px;
  }
}

@media #{$mq-xxlarge} {
  .map {
    &__container {
      height: 600px;
    }

    &__places {
      max-height: 600px;
      min-height: 600px;
    }
  }
}
