@import "../../../theme/theme-variables";
@import "bootstrap/scss/mixins";

.slider-wrap {
  margin-bottom: 20px;

  .map-container {
    width: 100%;
    height: 360px;

    agm-map {
      height: 100%;
      width: 100%;
    }
  }
}

.general-facts {
  border-bottom: 1px solid #bababa;
}

.navigation {
  width: 50%;
  position: absolute;
  top: -48px;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  @media #{$mq-xxlarge} {
    top: -52px;
  }

  &__button {
    font-size: 1.25em;
    background: rgba(0, 0, 0, 0.5);
    padding: 9px 12px;
    color: $white;
    cursor: pointer;

    app-icon {
      font-size: 1em;
    }
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;

  &__left {
    margin-top: 30px;

    &--name {
      font-size: 1.5em;
      line-height: 29px;
      color: $app-dark;
      margin-bottom: 7.5px;
    }

    &--district {
      font-size: 0.875em;
      line-height: 29px;
      color: $app-gray;
      margin-bottom: 6px;
      border-bottom: 1px solid #cbcbcb;
    }

    &--status {
      color: $app-gray;
      font-size: 0.875em;
    }
  }
}

.price {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;

  &__container {
    grid-template-columns: auto auto auto auto;
    width: 95%;

    &--block {
      font-size: 1.5em;
      color: $white;
      background: $app-black;
      padding: 15px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: 0.75em;
      }
    }
  }
}

.description {
  display: flex;
  justify-content: flex-end;

  &--block {
    display: flex;
    padding: 25px 0;
    font-size: 1.5em;
    flex-direction: column;

    span {
      font-size: 0.75em;
    }

    .studio {
      font-size: 2em !important;
    }
  }

  &--block:not(:first-child):not(:last-child) {
    flex: 0.5;
    align-items: center;
    border-right: 1px solid $app-black;
  }

  &--block:first-child {
    flex: 0.25;
    border-right: 1px solid $app-black;
  }

  &--block:last-child {
    flex: 0.25;
    align-items: flex-end;
    //margin-right: -80px;
  }
}

.building-amenities-wrap {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  // margin-top: -3%;
}

.building-amenities-wrap:first-child {
  border-bottom: 1px solid $app-black;
}

.building-amenities-wrap:last-child {
  margin-top: 20px;
}

.page-title {
  margin-bottom: 10px;
}

.building-facts-wrap {
  margin-bottom: 10px;
  border-bottom: 1px solid black;

  .span-a {
    color: $app-gray;
    text-decoration: underline;

    &:hover {
      color: $app-black;
      cursor: pointer;
    }

    &.active {
      font-weight: bold;
    }
  }

  .blur-text {
    color: transparent;
    text-shadow: 0 0 4px #000;
  }

  a {
    color: $black;

    &:focus {
      color: #505050;
      outline: none;
    }

    &:active {
      font-weight: bold;
    }
  }
}

.building-description-wrap {
  margin-bottom: 50px;
}

.building-maps-wrap {
  margin-bottom: 70px;
}

.building-poi-wrap {
  margin-bottom: 50px;
}

.apartament-list {
  margin-bottom: 50px;
}

.flex-one {
  position: relative;
  flex: 1;
  padding: 0 20px;
}

.agent {
  top: -75px;
  z-index: 1;
}

.agent-wrapper {
  position: absolute;
  right: 0;
  padding: 1em;
}

.container-width {
  width: 100%;
}

.listing-history-wrap {
  margin-bottom: 50px;
  overflow-x: auto;
}

.scroll-area {
  min-width: 628px;
}

.between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1300px) {
  .navigation {
    flex-direction: column;
    width: 25%;
    top: -145px;
  }
}

@media (max-width: 576px) {
  .navigation {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    position: unset;
    width: 100%;
    flex-direction: unset;
  }

  .building-facts-wrap {
    margin-bottom: 20px;

    .container-width {
      ul {
        margin-left: 20px;
      }
    }
  }

  .building-amenities-wrap {
    margin-bottom: 20px;
    padding-bottom: 0;
  }

  .price {
    display: block;

    &__container {
      grid-template-columns: auto auto;
    }
  }

  .info {
    &__left {
      width: 100%;
    }
  }
}

@media (max-width: 800px) {
  .flex-one {
    margin-bottom: 50px;
  }

  .agent {
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    margin-bottom: 50px;
  }

  .wrap {
    flex-direction: column;

    li {
      flex: 1;
    }
  }
}

.search-form {
  font-size: 0.875em;
  height: 50px;
  border: 1px solid rgba(179, 179, 179, 0.5);
  padding-left: 58px;
  padding-right: 40px;
  border-radius: 5px;
}

.search-form-wrap {
  position: relative;

  button {
    position: absolute;
    right: 18px;
    top: 0;
    margin-top: 0;
    height: 104%;
    font-size: 17px;
    color: #b3b3b3;
  }

  app-icon[icon="quick-search"] {
    position: absolute;
    left: 18px;
    top: 50%;
    margin-top: -12px;
    font-size: 17px;
    color: #b3b3b3;
    z-index: 1;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }
}

.message-loggin {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;

  .box-span {
    border: 1px solid black;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 8px 5px 8px;
    width: 85%;
    margin-right: 30px;
  }
}

@media #{$mq-xxlarge} {
  .slider-wrap {
    .map-container {
      height: 500px;

      #streetview-pano {
        height: 500px;
      }
    }
  }
}
