<div class="container">
  <div class="card-body">
    <div class="row justify-content-md-center">
      <h4 class="card-title text-center">Logout</h4>
    </div>
    <div class="row justify-content-md-center">
      <p>Are you sure you want to logout?</p>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-6">
        <button class="btn btn-primary w-100 btn-yes" (click)="logout()">
          <span>Yes</span>
        </button>
      </div>
      <div class="col-6">
        <button class="btn btn-primary w-100 btn-no" (click)="cancel()">
          <span>No</span>
        </button>
      </div>
    </div>
  </div>
</div>
