@import "../../../theme/theme-variables";
@import "bootstrap/scss/mixins";

.home-section {
  min-height: 100vh;
  background: url("/assets/img/home-bg.jpg") no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    color: #fff;
    letter-spacing: 0.41em;
    padding: 0;
    margin-bottom: 50px;
    margin-top: -90px;

    @include media-breakpoint-down(md) {
      padding: 20px 0 0;
      font-size: 1.2em;
      margin-bottom: 20px;
    }
  }

  &__search {
    width: 100%;
    justify-content: stretch;
    height: 40px;
    position: relative;
    max-width: 1000px;
    margin: 0 auto;

    &__type {
      cursor: pointer;
      width: 100px;
      padding-left: 13px;
      text-transform: uppercase;
      position: absolute;
      top: 0;
      height: 100%;
      line-height: 40px;
      font-size: 1em;

      &:after {
        content: "";
        position: absolute;
        display: block;
        width: 1px;
        height: 26px;
        background: $black;
        right: 12px;
        top: 50%;
        margin-top: -13px;
        bottom: 0;
      }
    }

    & > div {
      display: block;
    }

    & > app-autocomplete {
      display: block;
      height: 100%;
      width: 100%;
      position: relative;
    }

    .search-field {
      margin: 0;
      border: none;
      border-left: 0.2px solid $black;
      padding: 0 30px 0 100px;
      position: absolute;
      width: 100%;
      border-radius: 5px;
      height: 100%;

      &:focus {
        outline: none;
      }
    }

    & > button {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 8%;
      padding: 0;
      display: block;
      text-align: center;
      border-radius: 0;
    }
  }
}

.home-section-type-switcher {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
  max-width: 1000px;
  @include media-breakpoint-down(md) {
    margin: 0 0 10px;
  }

  li {
    cursor: pointer;
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.125em;
    transition: all ease-in-out;

    &.active {
      color: rgba(255, 255, 255, 1);
    }

    @include media-breakpoint-down(md) {
      font-size: 0.875em;
    }
  }
}

.about-section-b {
  h2 {
    margin-bottom: 40px;
    font-size: 3em;

    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
      font-size: 1.5em;
    }
  }
}

.about-section,
.commercial-section {
  padding: 140px 0;

  @include media-breakpoint-down(md) {
    padding: 40px 0;
  }
}

.residential-section {
  .about-section-b {
    padding-left: 140px;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }
}

.about-section-img {
  max-width: 100%;
  height: auto;

  @include media-breakpoint-down(md) {
    margin-bottom: 25px;
  }
}

.private-equity-section {
  margin-bottom: 155px;

  .about-section-b {
    padding-left: 140px;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 40px;
  }
}

.cq-section {
  &__title {
    font-size: 3em;

    @include media-breakpoint-down(md) {
      font-size: 1.5em;
    }
  }
}

.news-section {
  margin-bottom: 170px;

  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
  }
}

.press-list {
  margin: 0 -5px;
  justify-content: space-between;

  @include media-breakpoint-down(md) {
    display: block !important;
  }

  .press-item {
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
      text-align: center;
      margin-right: 0;
    }
  }
}

.press-section {
  margin-bottom: 150px;

  @include media-breakpoint-down(md) {
    margin-bottom: 20px;
  }

  h6 {
    margin-bottom: 36px;
  }
}

.carousel-indicators {
  bottom: -60px !important;

  li {
    background-color: $black !important;
  }
}

@media (max-width: 576px) {
  .home-section {
    &__title {
      padding: 0 0 45px;
      font-size: 1.25em;
      margin-top: 0;
    }
  }
}
