.btn-gray {
  border-color: $app-dark-gray;
  background: $app-dark-gray;
  color: $white;

  &:hover {
    color: $app-dark-gray;
    background: transparent;
  }
}

.btn-outline-gray {
  background: transparent;
  color: $app-dark-gray;

  &:hover {
    background: $app-dark-gray;
    color: $white;
  }
}

.btn {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-square {
  width: 52px;
  color: $white;
  height: 52px;
  padding: 0;
  background: $app-dark;

  &:hover,
  &:focus {
    opacity: 0.7;
    color: $white;
  }
}

.btn-outline {
  border: 1px solid $black;
}
