$fonts-dir: "~assets/fonts";

@font-face {
  font-family: "conquest";
  src: url("#{$fonts-dir}/icons/conquest.eot?92663399");
  src:
    url("#{$fonts-dir}/icons/conquest.eot?92663399#iefix") format("embedded-opentype"),
    url("#{$fonts-dir}/icons/conquest.woff2?92663399") format("woff2"),
    url("#{$fonts-dir}/icons/conquest.woff?92663399") format("woff"),
    url("#{$fonts-dir}/icons/conquest.ttf?92663399") format("truetype"),
    url("#{$fonts-dir}/icons/conquest.svg?92663399#conquest") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "conquest";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* emove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-search:before {
  content: "\e800";
} /* '' */
.icon-bad:before {
  content: "\e801";
} /* '' */
.icon-rent:before {
  content: "\e802";
} /* '' */
.icon-bathroom:before {
  content: "\e803";
} /* '' */
.icon-cross:before {
  content: "\e804";
} /* '' */
.icon-filter-icon-26:before {
  content: "\e805";
} /* '' */
.icon-heart:before {
  content: "\e806";
} /* '' */
.icon-mark:before {
  content: "\e807";
} /* '' */
.icon-filter-icon-1:before {
  content: "\e808";
  color: black;
} /* '' */
.icon-filter-icon-2:before {
  content: "\e809";
  color: black;
} /* '' */
.icon-filter-icon-3:before {
  content: "\e80a";
} /* '' */
.icon-filter-icon-4:before {
  content: "\e80b";
} /* '' */
.icon-filter-icon-5:before {
  content: "\e80c";
} /* '' */
.icon-filter-icon-6:before {
  content: "\e80d";
} /* '' */
.icon-filter-icon-7:before {
  content: "\e80e";
} /* '' */
.icon-filter-icon-8:before {
  content: "\e80f";
} /* '' */
.icon-filter-icon-11:before {
  content: "\e810";
} /* '' */
.icon-filter-icon-12:before {
  content: "\e811";
} /* '' */
.icon-filter-icon-13:before {
  content: "\e812";
} /* '' */
.icon-filter-icon-9:before {
  content: "\e813";
} /* '' */
.icon-filter-icon-10:before {
  content: "\e814";
} /* '' */
.icon-filter-icon-14:before {
  content: "\e815";
} /* '' */
.icon-bad-1:before {
  content: "\e816";
} /* '' */
.icon-bathroom-1:before {
  content: "\e817";
} /* '' */
.icon-filter-icon-25:before {
  content: "\e818";
} /* '' */
.icon-filter-icon-24:before {
  content: "\e819";
} /* '' */
.icon-filter-icon-23:before {
  content: "\e81a";
} /* '' */
.icon-filter-icon-22:before {
  content: "\e81b";
} /* '' */
.icon-filter-icon-21:before {
  content: "\e81c";
} /* '' */
.icon-filter-icon-20:before {
  content: "\e81d";
} /* '' */
.icon-filter-icon-19:before {
  content: "\e81e";
} /* '' */
.icon-filter-icon-18:before {
  content: "\e81f";
} /* '' */
.icon-filter-icon-17:before {
  content: "\e820";
} /* '' */
.icon-filter-icon-16:before {
  content: "\e821";
} /* '' */
.icon-filter-icon-15:before {
  content: "\e822";
} /* '' */
.icon-street-view:before {
  content: "\e823";
} /* '' */
.icon-heart-1:before {
  content: "\e824";
} /* '' */
.icon-mark-1:before {
  content: "\e825";
} /* '' */
.icon-rent-1:before {
  content: "\e826";
} /* '' */
.icon-search-1:before {
  content: "\e827";
} /* '' */
.icon-quick-search:before {
  content: "\e828";
} /* '' */
.icon-play:before {
  content: "\e829";
} /* '' */
.icon-map:before {
  content: "\e82a";
} /* '' */
.icon-fav:before {
  content: "\e82b";
} /* '' */
.icon-share:before {
  content: "\e82c";
} /* '' */
.icon-education:before {
  content: "\e82d";
} /* '' */
