.ui-list {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    color: #8b8b8b;
    position: relative;
    padding: 6px 0 6px 14px;

    &:before {
      content: " ";
      display: block;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      position: absolute;
      background: $black;
      top: 13px;
      left: 0;
    }

    strong {
      color: $black;
    }
  }
}
