.nav-tabs {
  border-bottom: 1px solid transparent;
  margin: 0 -12px;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid transparent;
  margin: 0 12px;
  color: #1b181c;
  padding: 0;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-bottom-color: $black;
  color: $black;
}
