<section>
  <div class="container full-h">
    <div class="row">
      <div class="col-12">
        <div class="banner-outer">
          <img src="../../../assets/img/home-img-3.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="private-equity">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 d-block">
        <h2>PRIVATE EQUITY</h2>
        <div class="private-equity-b">
          <p>
            Conquest looks to deliver high risk adjusted returns for its clients. It may offer co-investment
            opportunities to select clients and financial institutions, often working in tandem with other development
            partners and current landowners looking for capital investment. Our network has provided term sheets of over
            1 billion dollars for developments across the country, with projects spanning a wide variety of real estate
            classes, including, land acquisition, retail, condominium, and entitlement projects.
            <br />
          </p>
          <ul>
            <li>High Net Worth Individuals</li>
            <li>Family Offices</li>
            <li>Institutional Real Estate Opportunity Funds</li>
            <li>Sovereign Wealth Funds</li>
          </ul>
          <a class="btn btn-outline" [routerLink]="'/contact'">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
