.dropdown {
  button {
    border: 1px solid #ced4da;
    background-color: #fff;

    span {
      display: inline-block;
      width: 95%;
      text-overflow: clip;
      overflow: hidden;
      vertical-align: middle;
    }

    &::after {
      margin-top: 12px;
      position: absolute;
      right: 12px;
    }

    &.border-danger:focus {
      box-shadow: 0 0 0 0.25em rgba(220, 53, 69, 0.25);
    }
  }

  .dropdown-menu {
    width: 100%;

    .dropdown-item-checkboxes {
      max-height: 300px;
      overflow: hidden;
      overflow-y: auto;
      margin: 0.25em 1em;

      .dropdown-item {
        padding: 0.25em 0;
      }
    }

    .dropdown-count {
      border-top: 1px solid #ced4da;
      font-size: 12px;
      padding: 0.5em 1em 0;
      margin-top: 0.25em;

      span {
        margin-right: 5px;
      }
    }

    & .dropdown-item {
      &:active {
        background-color: inherit !important;
        color: #212529 !important;
      }

      .custom-control {
        label {
          width: 100%;
        }
      }
    }
  }
}
